/* Hyperlinks */

@media (prefers-color-scheme: light) {
    :root {
        --apple-blue: rgb(0,136,255);
        --apple-indigo: rgb(97,85,245);
        --apple-purple: rgb(203,48,224);
        --apple-pink: rgb(255,45,85);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --apple-blue: rgb(0,145,255);
        --apple-indigo: rgb(107,93,255);
        --apple-purple: rgb(219,52,242);
        --apple-pink: rgb(255,55,95);
    }
}

a.hyperlink {
    color: var(--apple-blue);
    text-decoration: underline;
}
