@media (prefers-color-scheme: light) and (prefers-contrast: no-preference) {
    :root {
        --red: rgb(255,56,60);
        --orange: rgb(255,141,40);
        --yellow: rgb(255,204,0);
        --green: rgb(52,199,89);
        --blue: rgb(0,136,255);
        --indigo: rgb(97,85,245);
        --purple: rgb(203,48,224);
        --pink: rgb(255,45,85);
        --brown: rgb(172,127,94);

        --gray-1: rgb(142,142,147);
        --gray-2: rgb(174,174,178);
        --gray-3: rgb(199,199,204);
        --gray-4: rgb(209,209,214);
        --gray-5: rgb(229,229,234);
        --gray-6: rgb(242,242,247);
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: no-preference) {
    :root {
        --red: rgb(255,66,69);
        --orange: rgb(255,146,48);
        --yellow: rgb(255,214,0);
        --green: rgb(48,209,88);
        --blue: rgb(0,145,255);
        --indigo: rgb(109,124,255);
        --purple: rgb(219,52,242);
        --pink: rgb(255,55,95);
        --brown: rgb(183,138,102);

        --gray-1: rgb(142,142,147);
        --gray-2: rgb(99,99,102);
        --gray-3: rgb(72,72,74);
        --gray-4: rgb(58,58,60);
        --gray-5: rgb(44,44,46);
        --gray-6: rgb(28,28,30);
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
        --red: rgb(233,21,45);
        --orange: rgb(197,83,0);
        --yellow: rgb(161,106,0);
        --green: rgb(0,137,50);
        --blue: rgb(30,110,244);
        --indigo: rgb(86,74,222);
        --purple: rgb(176,47,194);
        --pink: rgb(231,18,77);
        --brown: rgb(149,109,81);

        --gray-1: rgb(108,108,112);
        --gray-2: rgb(142,142,147);
        --gray-3: rgb(174,174,178);
        --gray-4: rgb(188,188,192);
        --gray-5: rgb(216,216,220);
        --gray-6: rgb(235,235,240);
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --red: rgb(255,97,101);
        --orange: rgb(255,160,86);
        --yellow: rgb(254,223,67);
        --green: rgb(74,217,104);
        --blue: rgb(92,184,255);
        --indigo: rgb(167,170,255);
        --purple: rgb(234,141,255);
        --pink: rgb(255,138,196);
        --brown: rgb(219,166,121);

        --gray-1: rgb(174,174,178);
        --gray-2: rgb(124,124,128);
        --gray-3: rgb(84,84,86);
        --gray-4: rgb(68,68,70);
        --gray-5: rgb(54,54,56);
        --gray-6: rgb(36,36,38);
    }
}

/* Link Color Scheme */

a.link:link {
    color: var(--blue);
}

a.link:visited {
    color: var(--indigo);
}

a.link:hover {
    color: var(--purple);
    transform: translateY(-0.5rem);
}

a.link:active {
    color: var(--pink);
}
